@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPhone 6, 7, 8 – ------- – */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
/* Styles */

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* #FFFADF
background: #C4B35A;
background: #333333;
background: #202020; */





}

/* Desktops and laptops – ------- – */
@media only screen  and (min-width : 1224px) {
/* Styles */

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* #FFFADF
background: #C4B35A;
background: #333333;
background: #202020; */




/********************** BARRA NAVEGADOR *****************/
nav{
    
    height: 60px;
    font-size: 20px;
    background: #333333;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    
    
}

ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    
}
li{
    padding: 15px
}

.fixed{
    background-color: bisque ;
    color: #202020;
    
}
.fixed a{
    color: #333333;
}

a{
    text-decoration: none;
    color: bisque;
}

.left{
    justify-content: flex-end;
    margin-right: 50px;
    padding: 15px;
}
.left:hover{
    background-color: #202020;
    color: bisque;
}
.normal:hover{
    background-color: #202020;
}

/********************** BODY WEB 1 *****************/
.contenedor1{

    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FFFADF;



    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 30px;
    width: 250px;

    
    -webkit-box-shadow: 5px 5px 20px -2px rgba(209,199,186,1);
    -moz-box-shadow: 5px 5px 20px -2px rgba(209,199,186,1);
    box-shadow: 5px 5px 20px -2px rgba(209,199,186,1);

    border-radius: 20px;
    background-color: white;
}
.card img{
    width: 250px;

    border-radius: 20px 20px 0 0;

}

.card h3{
    padding: 0 15px;
    color: #202020;
}
.card p{
    padding: 0 15px 15px 18px;
    font-size: 12px;
    color: #202020;
}

.derecha{
    transform: rotate(15deg);
}

.izquierda{
    transform: rotate(-15deg);
}

.derecha:hover{
    transform: rotate(0deg);
}

.izquierda:hover{
    transform: rotate(0deg);
}

/********************** FOOTER *****************/

footer{

    background-color: #333333; 
    height: 100px;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

i{
    color: bisque;
    margin: 10px;
}


/********************** Trabajo *****************/
.trabajo{
   
    background-image: url(../img/imagen01.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 120vh;
    padding: 40px;
}

.trabajo h1{
    color: bisque;
}

.trabajoWrap
{
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/********************** Hobbies *****************/

.hobbies{
   
    background-image: url(../img/imagen02.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 120vh;
    padding: 40px;
}

.hobbies h1{
    color: #333333;
}
.hobbiesWrap
{
        
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #333333;
}


/********************** About Us *****************/

.about-wrap{
    padding: 50px 30px 50px 30px;
    background-color: #FFFADF;
}


.wrapabout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.wrapAbout img{
    width: 280px;
}

.aboutcard{

    margin: 30px;
    width: 250px;

    
    -webkit-box-shadow: 5px 5px 20px -2px rgba(209,199,186,1);
    -moz-box-shadow: 5px 5px 20px -2px rgba(209,199,186,1);
    box-shadow: 5px 5px 20px -2px rgba(209,199,186,1);

    border-radius: 20px;
    background-color: white;
    padding: 20px;
}



}

